<%= form_with model: @user do |form| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2>Errors:</h2>
            <ul>
                <% @user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= form.label :username, "Логин" %>
    <%= form.text_field :username, placeholder: "Мне нужно имя" %>

    <%= form.label :email, "Email" %>
    <%= form.text_field :email, placeholder: "example@example.com" %>

    <%= form.label :password, "Пароль" %>
    <%= form.password_field :password, placeholder: "Я вижу ориентир" %>

    <%= form.submit %>
<% end%>
